form{

    p-floatLabel{
        margin: 1rem;
    }
    
    input{
        width: 35rem;
    }

    p-button{
        align-content: center;
        display: flex;
        justify-content: center;
    }
}